body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cbd5f5;
    color: white;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
    text-align: center;
}

.subtitle {
    color: #cbd5f5;
    margin-bottom: 40px;
}

.game-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.game-card {
    background-color: #1e293b;
    padding: 20px;
    width: 250px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

    .game-card h2 {
        margin-top: 0;
    }

button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 6px;
    background-color: #3b82f6;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

    button:disabled {
        background-color: #475569;
        cursor: not-allowed;
    }

footer {
    text-align: center;
    padding: 20px;
    color: #94a3b8;
}
